@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
*, ::before, ::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --gradient-color-1: #7B70FF;
  --gradient-color-2: #818EFF;
  --gradient-color-3: #FFB4FF;
  --gradient-color-4: #FFC5EB;
  --primary-color: #463F9D;
  --text-color: #5B53BC;
  --white-color: #fff;
  --body-font: 'Inter', 'sans-serif';
  --font-bold: 600;
  --font-regular: 400;
  --normal-font-size: 1.7rem;
  --smaller-font-size: 0.94rem;
}

body {
  font-family: var(--body-font);
  color: var(--text-color);
  font-size: var(--smaller-font-size);
  background-color: #fff;
  background-image: radial-gradient(at 70% 63%, #ffc7eb 0, transparent 60%), radial-gradient(at 70% 63%, #ffc7eb 0, transparent 60%), radial-gradient(at 70% 20%, #ffb3ff 0, transparent 60%), radial-gradient(at 70% 20%, #ffb3ff 0, transparent 60%), radial-gradient(at 20% 80%, #808cff 0, transparent 60%), radial-gradient(at 20% 14%, #7c70ff 0, transparent 60%), radial-gradient(at 20% 14%, #7c70ff 0, transparent 60%), radial-gradient(at 20% 80%, #808cff 0, transparent 60%);
  background-repeat: no-repeat;
  width: 100vw;
}

h1, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

.card__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  background-color: white;
  border-radius: 20px;
  width: 31rem;
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 524px) {
  .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 18rem;
    padding: 2rem 2rem;
  }
}

@media screen and (max-width: 314px) {
  .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 14rem;
    --normal-font-size: 1.6rem;
    --smaller-font-size: 0.9rem;
  }
}

.card__img {
  width: 11rem;
  margin-right: 1.5rem;
}

@media screen and (max-width: 524px) {
  .card__img {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

.card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 524px) {
  .card__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 524px) {
  .card__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.card__name {
  font-size: var(--normal-font-size);
  margin-bottom: 0.4rem;
}

.card__prof {
  font-size: var(--smaller-font-size);
}

.card__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1.3rem;
}

.card__icon-container-t {
  background-color: var(--text-color);
  padding: 0.5rem;
  border-radius: 7px;
  -webkit-box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.15);
  margin-right: 1rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.card__icon-container-t:hover {
  background-color: var(--primary-color);
}

.card__icon-container-i {
  background-color: var(--text-color);
  padding: 0.5rem;
  border-radius: 7px;
  -webkit-box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.card__icon-container-i:hover {
  background-color: var(--primary-color);
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .card {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.219);
  }
}
/*# sourceMappingURL=style.css.map */